In [183]:
import pandas as pd
import json
import requests
import numpy as np
import matplotlib.pyplot as plt

In [185]:
test = pd.ExcelFile('struktura_ludnosci.xls')
test = test.parse(0)
test = test.drop([0, 1, 2, 4])
test = test.transpose()
test = test.reset_index()
test = test.drop(columns=['index'])
test.columns = test.iloc[0]
test.drop(index=0, inplace=True)
test = test.set_index('Grupy wieku')
test.index.names = ['Rok']
test.index = test.index.astype(np.int64)
test = test.loc[:, :'Kobiety w wieku rozrodczym 15 - 49 lat          ']

In [ ]:
f, ax = plt.subplots()
ax.bar(x=test.index, y=test)

In [181]:
test

,OGÓŁEM,0 - 2 lata,3 -6,7 - 14,15 - 18,w tym: 18,19 - 24,0 - 17,18 -59/64,w tym:,18 - 44,45 - 59/64,60/65 lat i więcej,0 - 14,15 - 64,65 lat i więcej,Kobiety w wieku rozrodczym 15 - 49 lat
Rok,,,,,,,,,,,,,,,,,
1989,37988,1739,2664,5093,2248,536,3049,11208,21983,NaN,15220,6763,4798,9495,24697,3796,9354
1990,38073,1670,2584,5042,2297,550,3125,11043,22146,NaN,15255,6890,4884,9296,24891,3887,9442
1991,38144,1629,2478,4987,2342,562,3194,10873,22303,NaN,15289,7015,4968,9094,25075,3975,9526
1992,38203,1581,2366,4930,2385,575,3261,10688,22458,NaN,15304,7154,5057,8877,25258,4068,9601
1993,38239,1531,2264,4869,2428,587,3328,10504,22583,NaN,15308,7274,5153,8663,25407,4169,9669
1994,38265,1467,2202,4807,2470,599,3393,10346,22700,NaN,15309,7391,5219,8476,25548,4242,9734
1995,38284,1388,2131,4763,2509,610,3456,10180,22809,NaN,15307,7503,5295,8281,25679,4324,9795
1996,38294,1324,2064,4699,2552,623,3523,10016,22914,NaN,15301,7613,5364,8087,25805,4402,9866
1997,38290,1259,2001,4627,2592,634,3585,9845,23006,NaN,15289,7717,5439,7887,25919,4484,9931
1998,38277,1224,1891,4568,2631,646,3647,9668,23096,NaN,15273,7823,5512,7683,26030,4564,9992
1999,38263.3,1181,1815,4585.9,2685.9,637.8,3730,9630.1,23041.1,NaN,15230.9,7810.2,5592.2,7581.9,26037.3,4644.1,10086.2
2000,38254,1149.9,1738.5,4406,2706,667.6,3765.09,9332.9,23261,NaN,15218.2,8042.8,5660,7294.5,26233.7,4725.8,10094.4
2001,38242.2,1120.2,1666,4253.1,2651.2,694.3,3811.8,8996.2,23526.5,NaN,15246.2,8280.3,5719.5,7039.3,26392,4810.9,10072.3
2002,38218.5,1091.6,1607.4,4105.3,2538.3,678.9,3889.9,8663.7,23789.8,NaN,15257,8532.8,5765,6804.3,26526.6,4887.6,10030.6
2003,38190.6,1063.98,1556.5,3959.73,2428,658.3,3944.9,8349.8,24038.8,NaN,15264.6,8774.2,5802,6580.2,26659.1,4951.3,9984.7
2004,38173.8,1055.6,1511.3,3810.3,2323.2,613.3,3964.1,8087.1,24239.6,NaN,15256.7,8982.9,5847.1,6377.2,26778.3,5018.3,9930.8
2005,38157.1,1065.8,1471.7,3651.7,2257.1,582.4,3928.3,7863.8,24405,NaN,15250.9,9154.1,5888.2,6189.2,26892.1,5075.8,9865.3
2006,38125.5,1089,1438.9,3494.5,2207.1,568.9,3867,7660.6,24481.7,NaN,15250.3,9231.4,5983.2,6022.4,26986.6,5116.5,9790
2007,38115.6,1121.2,1416,3363.7,2140.7,553.6,3767.1,7487.9,24545.3,NaN,15267.4,9277.9,6082.5,5900.9,27083.4,5131.4,9706.5
2008,38135.9,1172.5,1415.8,3241.1,2067.7,547.5,3629.3,7349.7,24590.5,NaN,15290,9300.5,6195.7,5829.4,27160.1,5146.3,9619.8
2009,38167.3,1217.9,1436.6,3128.3,1982.1,533.6,3504.2,7231.3,24624.4,NaN,15321.5,9302.9,6311.6,5782.8,27223.1,5161.5,9540.4
2010,38529.9,1278,1516.9,3060.9,1890.9,503.395,3382,7243.2,24831,NaN,15423.9,9407.1,6455.6,5855.8,27483.7,5190.4,9514.3
2011,38538.4,1236.1,1590.6,2992.2,1811.9,484.3,3278,7146.6,24738.5,NaN,15418.4,9320.1,6653.4,5819,27394.5,5325,9449.8
2012,38533.3,1190,1654.5,2952,1735,464.8,3180.7,7066.8,24605.6,NaN,15397,9208.6,6861,5796.6,27249,5487.7,9388.3
2013,38495.7,1145.6,1684.4,2941.4,1660.3,436.4,3074.4,6995.4,24422.1,NaN,15337.9,9084.3,7078.2,5771.4,27051.6,5672.6,9317
2014,38478.6,1124.9,1676.5,2962.8,1602.9,424.1,2957.9,6943,24230.2,NaN,15262.1,8968,7305.4,5764.2,26840.4,5874,9249.9
2015,38437.2,1106.1,1633.2,3015.2,1554.4,407.2,2834.6,6901.8,24002.2,NaN,15153.1,8849.1,7533.3,5754.6,26606.3,6076.4,9187.3
2016,38433,1121.5,1570.3,3081.5,1513.1,390.6,2708.7,6895.9,23767.6,NaN,15021.9,8745.7,7769.5,5773.4,26356.2,6303.4,9128.6

Wartości powyżej są w tysiącach

In [182]:
import matplotlib.pyplot as plt
import matplotlib.animation as animation

# Fixing random state for reproducibility
np.random.seed(19680801)


def gen_rand_line(length, dims=2):
    """
    Create a line using a random walk algorithm.

    Parameters
    ----------
    length : int
        The number of points of the line.
    dims : int
        The number of dimensions of the line.
    """
    line_data = np.empty((dims, length))
    line_data[:, 0] = np.random.rand(dims)
    for index in range(1, length):
        # scaling the random numbers by 0.1 so
        # movement is small compared to position.
        # subtraction by 0.5 is to change the range to [-0.5, 0.5]
        # to allow a line to move backwards.
        step = (np.random.rand(dims) - 0.5) * 0.1
        line_data[:, index] = line_data[:, index - 1] + step
    return line_data


def update_lines(num, dataLines, lines):
    for line, data in zip(lines, dataLines):
        # NOTE: there is no .set_data() for 3 dim data...
        line.set_data(data[0:2, :num])
        line.set_3d_properties(data[2, :num])
    return lines


# Attaching 3D axis to the figure
fig = plt.figure()
ax = fig.add_subplot(projection="3d")

# Fifty lines of random 3-D lines
data = [gen_rand_line(25, 3) for index in range(50)]

# Creating fifty line objects.
# NOTE: Can't pass empty arrays into 3d version of plot()
lines = [ax.plot(dat[0, 0:1], dat[1, 0:1], dat[2, 0:1])[0] for dat in data]

# Setting the axes properties
ax.set_xlim3d([0.0, 1.0])
ax.set_xlabel('X')

ax.set_ylim3d([0.0, 1.0])
ax.set_ylabel('Y')

ax.set_zlim3d([0.0, 1.0])
ax.set_zlabel('Z')

ax.set_title('3D Test')

# Creating the Animation object
line_ani = animation.FuncAnimation(
    fig, update_lines, 25, fargs=(data, lines), interval=50)

plt.show()

ValueError: Unknown projection '3d'