# Statystyka z językiem R w ekonomii
## Marcin Sola
## Data Science rok I tryb niestacjonarny

## 1. Pobieranie danych

Zaczniemy od pobrania potrzebnych danych i załadowania ich do R za pomocą funkcji `read.csv()`. Musimy jednocześnie podmienić separator na średnik (`read.csv()` domyślnie jako separator przyjmuje przecinek) 

UWAGA!
Do analizy pobrałem plik z tabelą relacyjną csv, poniewaz w ten sposób łatwiej będzie dalej analizować dane.

In [1]:
df = read.csv("CENY_2917_CREL_20200204184449.csv", sep=";")

Przyjrzyjmy się bliżej naszym danym danym.

In [2]:
summary(df)

      Kod                         Nazwa          Miesiące
 Min.   : 200000   DOLNOŚLĄSKIE      : 120   czerwiec:160
 1st Qu.: 950000   KUJAWSKO-POMORSKIE: 120   grudzień:160
 Median :1700000   ŁÓDZKIE           : 120   kwiecień:160
 Mean   :1700000   LUBELSKIE         : 120   lipiec  :160
 3rd Qu.:2450000   LUBUSKIE          : 120   listopad:160
 Max.   :3200000   MAŁOPOLSKIE       : 120   luty    :160
                   (Other)           :1200   (Other) :960
                                      Rodzaje.towarów.i.usług Cena.i.wskaźniki
 cebula - za 1 kg                                 :192        cena:1920
 czekolada mleczna - za 100g                      :192
 jaja kurze świeże (chów wolnowybiegowy) - za 1szt:192
 kiełbasa wędzona (2) - za 1kg                    :192
 piwo jasne pełne, butelkowane - za 0,5l          :192
 podkoszulek męski bawełniany, bez rękawa         :192
 (Other)                                          :768
      Rok          Wartosc     Jednostka.miary Atrybut           X
 Min.   :2019   0,87   :  19   zł:1920         Mode:logical   Mode:logical
 1st Qu.:2019   0,85   :  18                   NA's:1920      NA's:1920
 Median :2019   0,90   :  16
 Mean   :2019   0,86   :  15
 3rd Qu.:2019   0,89   :  14
 Max.   :2019   1,83   :  14
                (Other):1824

## 2. Czyszczenie i porządkowanie danych
Najpierw usuniemy kod województw (równie dobrze możemy posługiwać się nazwami). Możemy również pozbyć się kolumn `Cena.i.wskaźniki`, `Jednostka.miary`, `Atrybut`, `Rok` oraz `X`. Pobraliśmy jedynie cenę (bez innych wskaźników), tylko w złotówkach i tylko z roku 2019. Kolumny `Atrybut` oraz `X` od samego początku posiadają same puste wartości, więc nie są nam zupełnie przydatne.

In [3]:
df = subset(df, select = -c(Kod, Cena.i.wskaźniki, Jednostka.miary, Atrybut, Rok, X))

In [4]:
head(df)

  Nazwa        Miesiące Rodzaje.towarów.i.usług
1 DOLNOŚLĄSKIE styczeń  szynka wieprzowa gotowana - za 1kg
2 DOLNOŚLĄSKIE styczeń  kiełbasa wędzona (2) - za 1kg
3 DOLNOŚLĄSKIE styczeń  śmietana o zawartości tłuszczu 18% - za 200 g
4 DOLNOŚLĄSKIE styczeń  jaja kurze świeże (chów wolnowybiegowy) - za 1szt
5 DOLNOŚLĄSKIE styczeń  pomarańcze - za 1kg
6 DOLNOŚLĄSKIE styczeń  cebula - za 1 kg
  Wartosc
1 28,45
2 19,20
3 2,00
4 0,89
5 5,53
6 3,18

Zostały nam 4 cechy. Następnie sprawdźmy, czy nie posiadamy w zbiorze jakichś brakujących danych

In [5]:
sapply(df, function(x) sum(is.na(x)))

                  Nazwa                Miesiące Rodzaje.towarów.i.usług
                      0                       0                       0
                Wartosc
                      0

Jak widać, mamy już kompletne dane, więc możemy przejść dalej.

Na początek proponuję pogrupować